@using BaseProject.ViewModels.Common
@model PagedResult<BaseProject.ViewModels.System.Users.UserVm>

@{
    ViewData["Title"] = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}


<div class="container-fluid">
    <h1 class="mt-4">Danh sách người dùng</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh sách người dùng</li>
    </ol>
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="cold-md-3 user-search-btn" style="width: unset;">
                                <button type="submit" class="btn btn-primary">
                                    Tìm
                                </button>
                                <button style="padding: 10px 24px; font-size: 15px;" type="button" onclick="window.location.href='/User/Index'" class="btn btn-dark"><i class="fa-solid fa-arrow-rotate-right"></i></button>
                            </div>
                            <div class="col-md-9" style="flex: 1;">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="msgAlert" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr class="row no-margin">
                            <th class="col-2">
                                Họ và tên
                            </th>
                            <th class="col-2">
                                Tài khoản
                            </th>
                            <th class="col-2">
                                Ngày sinh
                            </th>
                            <th class="col-1">
                                Giới tính
                            </th>
                            <th class="col-3">
                                Email
                            </th>
                            <th class="col-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="row no-margin">
                                <td class="col-2">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="col-2">
                                    @Html.DisplayFor(modelItem => item.UserName)
                                </td>
                                <td class="col-2">
                                    @Html.DisplayFor(modelItem => item.DateOfBir)
                                </td>
                                <td class="col-1">
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td class="col-3">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="col-2">
                                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Details", new { id = item.Id })"><i class="fa-solid fa-eye"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa-solid fa-trash-can"></i></a>
                                    <a href="@Url.Action("RoleAssign", new { id = item.Id })"><i class="fa-solid fa-unlock"></i></a>
                                </td>
                            </tr>
                        }
                    <td style="border-bottom: 2px solid #e9ecef; position: relative; top: -18px;"></td>
                    </tbody>
                </table>
            </div>
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>

