@using BaseProject.ViewModels.Common;
@model PagedResult<BaseProject.Data.Entities.NoticeDetail>
@{
    ViewData["Title"] = "Thông báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>

<div class="row">
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="post-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="post-modal-label">Xóa lịch sử thông báo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa tất cả thông báo không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancel()">Hủy</button>
                <button type="button" class="btn btn-danger" id="deleteButton">Xóa</button>
            </div>
        </div>
    </div>
</div>
<div class="card mb-12">
   

    <div class="card-body" style="min-height: 500px">
        <table class="table">
            <thead>
                <tr class="no-margin">
                    <th>
                        STT
                    </th>
                    <th>
                        Nội dung
                    </th>
                    <th class="col-2">
                        Thời gian
                    </th>
                        @if (Model != null && Model.Items.Count != 0)
                        {
                            <div style="display: inline">
                            <button class="btn btn-danger" onclick="showDeleteModal()" title="Xóa tất cả thông báo" style="position: absolute; right: 14px;"> <i class="fa-solid fa-trash-can"></i> </button>
                            </div>
                        }
                </tr>
            </thead>
            @{
                int a = 1;
            }
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="no-margin">
                        <td>
                            @(a++)
                        </td>
                        <td>
                            <div  style="cursor: pointer">
                                @if (@item.NotificationId == 2)
                                {
                                    <span style="color: #9e21b8;">@item.Notification.Title</span>
                                } else
                                {
                                    <span style="color: mediumseagreen">@item.Notification.Title</span>
                                }
                                
                                @Html.DisplayFor(modelItem => item.Content)
                            </div>
                        </td>
                        <td>
                            @item.Date.ToString("HH:mm , dd/MM/yyyy")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>


<script>
    var token = '@Html.Raw(ViewBag.Token)';
    var name = '@ViewBag.Name';


    function showDeleteModal() {
        $('#deleteModal').modal('show');
        $('#deleteButton').attr('data-id');

    }


    $('#deleteButton').click(function () {
        $.ajax({
            url: 'https://localhost:7204/api/notifications/' + name,
            type: 'DELETE',
            headers: { Authorization: 'Bearer ' + token },
            success: function (data) {
                $('#deleteModal').modal('hide');
                loadPosts();

            },
            error: function () {
                Swal.fire({
                    title: 'Xảy ra lỗi khi xóa!',
                    icon: 'error'
                });
            }
        });
    });
    var LoadPage = window.location;
    function loadPosts() {
        LoadPage.reload(true);
    }

    function cancel() {
        $('#deleteModal').modal('hide');
    }

</script>