@using BaseProject.ViewModels.Common;
@model PagedResult<BaseProject.ViewModels.Catalog.Location.LocationCreateRequest>
@{
    ViewData["Title"] = "Danh mục địa điểm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh mục</h1>

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="row">
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
</div>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Danh sách địa điểm</li>
</ol>
<div class="card mb-12">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create" asp-controller="Location">Tạo mới</a>
            </div>
            <div class="col-md-6 col-xs-12">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="cold-md-3 user-search-btn" style="width: unset;">
                            <button type="submit" class="btn btn-primary">
                                Tìm
                            </button>
                            <button style="padding: 10px 24px; font-size: 15px;" type="button" onclick="window.location.href='/Location/Index'" class="btn btn-dark"><i class="fa-solid fa-arrow-rotate-right"></i></button>
                        </div>
                        <div class="col-md-9" style="flex: 1;">
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr class="row no-margin">
                    <th class="col-4">
                        Tên địa điểm
                    </th>
                    <th class="col-6">
                        Địa chỉ
                    </th>
                    <th class="col-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr class="row no-margin">
                        <td class="col-4">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="col-6">
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td class="col-2">
                            <a title="Sửa địa điểm" style="background-color: lightskyblue" href="@Url.Action("Edit", new { id=item.LocationId })"><i class="fa-solid fa-wand-magic-sparkles" style="color: darkblue"></i></a>
                            <a title="Xóa địa điểm" style="background-color: lightskyblue" href="@Url.Action("Edit", new { id=item.LocationId })"><i class="fa-solid fa-location-pin-lock" style="color: darkblue" ></i></a>
                        </td>
                    </tr>
                }
            <td style="border-bottom: 2px solid #e9ecef; position: relative; top: -18px;"></td>

            </tbody>
        </table>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>

