@using BaseProject.ViewModels.Common;
@model PagedResult<BaseProject.ViewModels.Catalog.Post.PostVm>

@{
    ViewData["Title"] = "Danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/places_style.css" rel="stylesheet" />

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);

        $('.save-places-icon').click(function (event) {
            var username = '@Html.Raw(ViewBag.UserName)';
            event.preventDefault();

            var idPlaces = $(this).attr('save-places-id');
            $.ajax({
                url: '/Save/AddPostToArchive',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({ Id: idPlaces, username: username }),
                success: function (response) {
                    window.location.reload(true)
                },
                error: function () {
                    alert('Có lỗi xảy ra khi xóa địa điểm yêu thích');
                }
            });
        });
    </script>
}
<div class="row">
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="post-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="post-modal-label">Xóa tất cả danh mục yêu thích</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa tất cả danh mục yêu thích không?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancel()">Hủy</button>
                <button type="button" class="btn btn-danger" id="deleteButton">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="">
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link  text-black"  aria-current="page" href="@Url.Action("Index","Save")"><i class="fa-solid fa-location-dot" style="color: #ff427b;"></i> Địa điểm yêu thích</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active text-black"  href="@Url.Action("Index2","Save")" ><i class="fa-solid fa-blog" style="color: #ff427b;"></i> Bài viết yêu thích</a>
            </li>
            <li class="nav-item">
                @if (Model != null && Model.Items.Count != 0)
                {
                    <div style="display: inline">
                        <button class="btn btn-danger" onclick="showDeleteModal()" title="Xóa tất cả bài viết yêu thích" style="margin-left: 8px;margin-top: 4px;">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                }
                else
                {
                    <div style="display: flex; align-items: center; margin-left: 8px;height: 100%; color:red; font-size:16px;">
                        <span>Chưa có bài viết yêu thích nào được thêm vào ...</span>
                    </div>
                    
                }
            </li>
        </ul>
        
        <div class="destination-list" style="min-height: 400px">

            @foreach (var item in Model.Items)
            {


                <a href="@Url.Action("Details","Posts", new { id = item.PostId })" class="card text-decoration-none" style="width: 22%;padding: 4px 4px; margin: 0 8px;">
                    <div title="Xóa địa điểm yêu thích" style="position: relative ; left: -50px;" class="save-places-icon" save-places-id="@item.PostId">
                        <i class="fa-solid fa-trash delete-item-save" style="color: #ff3300; "></i>
                    </div>
                    <img src="/images/anh-lang-que-viet-nam.jpeg" class="card-img-top" alt="Ảnh minh họa">
                    <div class="card-body ">
                        <p class="card-text limited-lines text-black text-decoration-none" style="min-height:58px;">@item.Title</p>
                        <p class="card-text  text-black" style="font-size: 1rem;">@item.Date</p>
                    </div>
                </a>
            }

        </div>

        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>

<script>
    var token = '@Html.Raw(ViewBag.Token)';
    var name = '@ViewBag.UserName';


    function showDeleteModal() {
        $('#deleteModal').modal('show');
        $('#deleteButton').attr('data-id');

    }


    $('#deleteButton').click(function () {
        var id = $(this).attr('data-id');
        var number = 2;

        $.ajax({
            url: `https://localhost:7204/api/saves/${name}/${number}`,
            type: 'DELETE',
            headers: { Authorization: 'Bearer ' + token },
            success: function (data) {
                $('#deleteModal').modal('hide');
                window.location.reload(true);

            },
            error: function () {
                alert('Có lỗi xảy ra khi xóa');
            }
        });
    });
    var LoadPage = window.location;
    function loadPosts() {
        LoadPage.reload(true);
    }

    function cancel() {
        $('#deleteModal').modal('hide');
    }

</script>