@using BaseProject.ViewModels.Catalog.Location;
@using BaseProject.ViewModels.Catalog.Post;
@using BaseProject.ViewModels.Common;
@model PagedResult<BaseProject.ViewModels.Catalog.Post.PostDetailRequest>


<div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ratingModalLabel" style="text-align:center;">Báo cáo bài viết</h5>

                <button type="button" class="close" style="background: none;color: red; border-radius: 50%; border: 1px solid red; width: 30px;" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="font-size: 12px; text-align: center; padding-top: 8px;">
                <span style="font-size: 16px; font-style:italic;"> Cảm ơn sự đóng góp của bạn</span>
                <span id="modalAddressContent"></span>
            </div>
            <div class="modal-body" style="font-size: 16px;">
                <div class="form-check" style="margin: 4px 0px;">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                    <label class="form-check-label" for="exampleRadios1">
                        Nội dung tục tĩu, khiêu dâm hoặc chứa ngôn từ kích động thù địch
                    </label>
                </div>
                <div class="form-check" style="margin: 4px 0px;">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Nội dung mô tả hoặc khuyến khích tham gia vào các hoạt động bất hợp pháp
                    </label>
                </div>
                <div class="form-check" style="margin: 4px 0px;">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                    <label class="form-check-label" for="exampleRadios3">
                        Địa điểm này đã đóng cửa hoặc không tồn tại
                    </label>
                </div>
                <div class="form-check" style="margin: 4px 0px;">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                    <label class="form-check-label" for="exampleRadios4">
                        Bài viết là một bản sao của một thành viên khác trong nhóm
                    </label>
                </div>
                <div class="form-check" style="margin: 4px 0px;">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5" >
                    <label class="form-check-label" for="exampleRadios5">
                        Nội dung chứa thông tin sai lệch hoặc gây hiểu lầm
                    </label>
                </div>
                <div class="form-check" style="margin: 4px 0px;">
                    <span style="font-style: italic; font-weight:600;">Ý kiến của bạn về bài viết</span>
                    <textarea  class="form-control" style="width: 95%;" id="exampleRadios6" rows="2"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Submit" data-id="">Gửi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<h4>Bài viết đánh giá</h4>
@await Component.InvokeAsync("Pager", Model) 
@foreach (var item in Model.Items)
{
    <li class="" style="list-style: none;margin-bottom: 8px;">
        <div class="card" style="width: 95%;">
            <div class="card-body">
                <div style="display: flex; justify-content: space-between;">
                    <a asp-action="AccountSetting" asp-controller="Account" asp-route-UserName="@item.UserName" style="text-decoration: none;">
                        <h5 class="card-title"><i class="fa-regular fa-circle-user"></i> @item.UserName</h5>
                    </a>
                    
                    <div style="display: flex">
@*                        <div style="margin-right: 8px">
                            <i class="fa-solid fa-pen-fancy"></i> 123
                        </div>*@
                        <div>
                            <div class="text-black-50" style="margin-right: 12px">
                            </div>
                        </div>
                        <div class="dropdown col-1">
                            <a class="" style="border-radius: 50%; width:1.5rem; height:1.5rem;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis" style="color: black;"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><button style="font-size:14px;" class="edit-comment dropdown-item" data-toggle="modal" data-target="#ratingModal" data-id="@item.PostId" data-comment-id="@item.PostId">Báo cáo bài viết</button> </li>
                                <li><a href="#" style="font-size:14px;" class="delete-comment dropdown-item" data-comment-id="@item.PostId">Chức năng khác</a> </li>
                                <li><a class="dropdown-item" style="font-size:14px;" href="#">Chức năng khác</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h6 title ="XEM BÀI VIẾT" class="card-subtitle mb-2 text-muted" >
                    <a href="@Url.Action("Details","Posts", new { id = item.PostId })" class="text-decoration-none" style="color: #E82385 !important;">
                        @item.Title
                    </a>
                </h6>
                <div class="card-text " style="max-height: 700px; overflow: auto;overflow-x: hidden; padding-right:20px;">@Html.Raw(@item.Content)</div>
                <a href="@Url.Action("Details","Posts", new { id = item.PostId })" title="XEM BÀI VIẾT" class="text-decoration-none">
                    <span href="#" class="card-link text-black-50" style="text-decoration: none; padding-right: 8px" title="Xem bình luận">@item.CommentCount <i class="fa-solid fa-comment-dots"></i></span>
                    <span href="#" class="card-link text-black-50 like-link" like-link-id="@item.LikeCount" style="text-decoration: none; padding-right: 8px" title="Thích">2 <i class="fa-regular fa-thumbs-up "></i></span>
                    <span href="#" class="card-link text-black-50" style="text-decoration: none; padding-right: 8px" title="Lưu bài viết">@item.SaveCount <i class="fa-solid fa-bookmark"></i></span>
                    <span href="#" class="card-link text-black-50" style="text-decoration: none;" title="Chia sẻ">@item.ShareCount <i class="fa-solid fa-share"></i></span>
                </a>
            </div>
        </div>
    </li>
}
@await Component.InvokeAsync("Pager", Model)

<script>
    var ratingButtons = document.querySelectorAll('button[data-toggle="modal"][data-target="#ratingModal"]');
    ratingButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var targetModalId = button.getAttribute('data-target');
            var modal = document.querySelector(targetModalId);

            // Lấy giá trị data-id từ button
            var id = button.getAttribute('data-id');
            var submitButton = modal.querySelector('#Submit');

            // Lưu giá trị data-id vào nút Submit trong modal
            submitButton.setAttribute('data-id', id);

            $(modal).modal('show');
        });
    });

    // Ẩn modal khi nhấp vào nút "Close" hoặc click bên ngoài modal
    var closeModalButtons = document.querySelectorAll('[data-dismiss="modal"]');
    closeModalButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var modal = button.closest('.modal');
            $(modal).modal('hide');
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#Submit').click(function () {
            // Lấy nội dung của phần tử radio đã được chọn
            var selectedOption = $('input[name="exampleRadios"]:checked').next('label').text().trim();
            var additionalComment = $('#exampleRadios6').val();
            var id = $(this).attr('data-id');
            // Tạo object chứa dữ liệu
            var dataToSend = {
                option: selectedOption,
                comment: additionalComment,
                id: id
            };

            // Gửi dữ liệu lên server bằng AJAX
            $.ajax({
                type: 'POST',
                url: '/Report/SendReport',
                data: JSON.stringify(dataToSend),
                contentType: 'application/json',
                success: function (response) {
                    // Xử lý phản hồi từ server (nếu cần)
                    alert("Gửi báo cáo thành công");
                    // Đóng modal
                    $('#ratingModal').modal('hide');
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Xử lý lỗi (nếu có)
                    alert("Gửi báo cáo thất bại");
                    console.log(errorThrown);
                }
            });
        });
    });
</script>