@using BaseProject.ViewModels.Catalog.Location;
@using BaseProject.ViewModels.Catalog.Post;
@using BaseProject.ViewModels.Common;
@model PagedResult<BaseProject.ViewModels.Catalog.Post.PostDetailRequest>


<h4>Bài viết đánh giá</h4>
@await Component.InvokeAsync("Pager", Model) 
@foreach (var item in Model.Items)
{
    <li class="" style="list-style: none;margin-bottom: 8px;">
        <div class="card" style="width: 95%;">
            <div class="card-body">
                <div style="display: flex; justify-content: space-between;">
                    <a asp-action="AccountSetting" asp-controller="Account" asp-route-UserName="@item.UserName" style="text-decoration: none;">
                        <h5 class="card-title"><i class="fa-regular fa-circle-user"></i> @item.UserName</h5>
                    </a>
                    
                    <div style="display: flex">
@*                        <div style="margin-right: 8px">
                            <i class="fa-solid fa-pen-fancy"></i> 123
                        </div>*@
                        <div>
                            <div class="text-black-50" style="margin-right: 12px">
                            </div>
                        </div>
                        <div class="dropdown col-1">
                            <a class="" style="border-radius: 50%; width:1.5rem; height:1.5rem;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis" style="color: black;"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a href="#" style="font-size:14px;" class="edit-comment dropdown-item" data-comment-id="@item.PostId">Báo cáo bài viết</a> </li>
                                <li><a href="#" style="font-size:14px;" class="delete-comment dropdown-item" data-comment-id="@item.PostId">Chức năng khác</a> </li>
                                <li><a class="dropdown-item" style="font-size:14px;" href="#">Chức năng khác</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <h6 title ="XEM BÀI VIẾT" class="card-subtitle mb-2 text-muted" >
                    <a href="@Url.Action("Details","Posts", new { id = item.PostId })" class="text-decoration-none" style="color: #E82385 !important;">
                        @item.Title
                    </a>
                </h6>
                <div class="card-text " style="max-height: 700px; overflow: auto;overflow-x: hidden; padding-right:20px;">@Html.Raw(@item.Content)</div>
                <a href="@Url.Action("Details","Posts", new { id = item.PostId })" title="XEM BÀI VIẾT" class="text-decoration-none">
                    <span href="#" class="card-link text-black-50" style="text-decoration: none; padding-right: 8px" title="Xem bình luận">@item.CommentCount <i class="fa-solid fa-comment-dots"></i></span>
                    <span href="#" class="card-link text-black-50 like-link" like-link-id="@item.LikeCount" style="text-decoration: none; padding-right: 8px" title="Thích">2 <i class="fa-regular fa-thumbs-up "></i></span>
                    <span href="#" class="card-link text-black-50" style="text-decoration: none; padding-right: 8px" title="Lưu bài viết">@item.SaveCount <i class="fa-solid fa-bookmark"></i></span>
                    <span href="#" class="card-link text-black-50" style="text-decoration: none;" title="Chia sẻ">@item.ShareCount <i class="fa-solid fa-share"></i></span>
                </a>
            </div>
        </div>
    </li>
}
@await Component.InvokeAsync("Pager", Model)
