@using BaseProject.ViewModels.Catalog.Comments;
@using BaseProject.ViewModels.Catalog.Post;
@model BaseProject.ViewModels.Catalog.Post.PostCreateRequest

@{
    ViewData["Title"] = "Xem bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<PostVm> topList = ViewData["topList"] as List<PostVm>;
}


<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Book your outdoor adventure, About Us, ​Find your next getaway, Our Services, ​Plan Your Camping Trip, ​How to plan a camping trip, Contact Us">
    <meta name="description" content="">
    <title>PostDetail</title>

    <link href="~/css/places_style.css" rel="stylesheet" />
    <link href="~/css/nicepage.css" rel="stylesheet" />
    <link href="~/css/postdetail.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/nicepage.js"></script>

    <meta name="generator" content="Nicepage 5.9.10, nicepage.com">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="PostDetail">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
</head>
<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-section-1" id="sec-4563">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row row">
                        <div class="u-container-style u-layout-cell u-size-40 u-layout-cell-1 col-8">

                            

                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-group-1">
                                    <div class="u-container-layout u-container-layout-2">
                                        <div>
                                            <h4 class="u-text u-text-default u-text-1 ">
                                                <span class="rectange-text"></span>
                                                @Model.Title
                                            </h4>
                                            <div class="dropdown col-1">
                                                <a class="" style="border-radius: 50%; width:1.5rem; height:1.5rem;" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa-solid fa-ellipsis" style="color: black;"></i>
                                                </a>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    @if (!Model.UserId.Equals(@ViewBag.UserName))
                                                    {
                                                        <li><button style="font-size:14px;" class="edit-comment dropdown-item" data-toggle="modal" data-target="#ratingModal" data-id="@Model.PostId" data-comment-id="@Model.PostId">Báo cáo bài viết</button> </li>
                                                    }
                                                    
                                                    <li><a href="#" style="font-size:14px;" class="delete-comment dropdown-item" data-comment-id="@Model.PostId">Chức năng khác</a> </li>
                                                    <li><a class="dropdown-item" style="font-size:14px;" href="#">Chức năng khác</a></li>
                                                </ul>
                                            </div>
                                            <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ratingModalLabel" style="text-align:center;">Báo cáo bài viết</h5>

                                                            <button type="button" class="close" style="background: none;color: red; border-radius: 50%; border: 1px solid red; width: 30px;" data-dismiss="modal" aria-label="Đóng">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div style="font-size: 12px; text-align: center; padding-top: 8px;">
                                                            <span style="font-size: 16px; font-style:italic;"> Cảm ơn sự đóng góp của bạn</span>
                                                            <span id="modalAddressContent"></span>
                                                        </div>
                                                        <div class="modal-body" style="font-size: 16px;">
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                                <label class="form-check-label" for="exampleRadios1">
                                                                    Nội dung tục tĩu, khiêu dâm hoặc chứa ngôn từ kích động thù địch
                                                                </label>
                                                            </div>
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                                                <label class="form-check-label" for="exampleRadios2">
                                                                    Nội dung mô tả hoặc khuyến khích tham gia vào các hoạt động bất hợp pháp
                                                                </label>
                                                            </div>
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                                                                <label class="form-check-label" for="exampleRadios3">
                                                                    Địa điểm này đã đóng cửa hoặc không tồn tại
                                                                </label>
                                                            </div>
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                                                                <label class="form-check-label" for="exampleRadios4">
                                                                    Bài viết là một bản sao của một thành viên khác trong nhóm
                                                                </label>
                                                            </div>
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                                                                <label class="form-check-label" for="exampleRadios5">
                                                                    Nội dung chứa thông tin sai lệch hoặc gây hiểu lầm
                                                                </label>
                                                            </div>
                                                            <div class="form-check" style="margin: 4px 0px;">
                                                                <span style="font-style: italic; font-weight:600;">Ý kiến của bạn về bài viết</span>
                                                                <textarea class="form-control" style="width: 95%;" id="exampleRadios6" rows="2"></textarea>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" id="Submit" data-id="">Gửi</button>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                        <script>
                                            var ratingButtons = document.querySelectorAll('button[data-toggle="modal"][data-target="#ratingModal"]');
                                            ratingButtons.forEach(function (button) {
                                                button.addEventListener('click', function () {
                                                    var targetModalId = button.getAttribute('data-target');
                                                    var modal = document.querySelector(targetModalId);

                                                    // Lấy giá trị data-id từ button
                                                    var id = button.getAttribute('data-id');
                                                    var submitButton = modal.querySelector('#Submit');

                                                    // Lưu giá trị data-id vào nút Submit trong modal
                                                    submitButton.setAttribute('data-id', id);

                                                    $(modal).modal('show');
                                                });
                                            });

                                            // Ẩn modal khi nhấp vào nút "Close" hoặc click bên ngoài modal
                                            var closeModalButtons = document.querySelectorAll('[data-dismiss="modal"]');
                                            closeModalButtons.forEach(function (button) {
                                                button.addEventListener('click', function () {
                                                    var modal = button.closest('.modal');
                                                    $(modal).modal('hide');
                                                });
                                            });
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                $('#Submit').click(function () {
                                                    // Lấy nội dung của phần tử radio đã được chọn
                                                    var selectedOption = $('input[name="exampleRadios"]:checked').next('label').text().trim();
                                                    var additionalComment = $('#exampleRadios6').val();
                                                    var id = $(this).attr('data-id');
                                                    // Tạo object chứa dữ liệu
                                                    var dataToSend = {
                                                        option: selectedOption,
                                                        comment: additionalComment,
                                                        id: id,
                                                        ReportId: 1
                                                    };

                                                    // Gửi dữ liệu lên server bằng AJAX
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Report/SendReport',
                                                        data: JSON.stringify(dataToSend),
                                                        contentType: 'application/json',
                                                        success: function (response) {
                                                            // Xử lý phản hồi từ server (nếu cần)
                                                            alert("Gửi báo cáo thành công");
                                                            // Đóng modal
                                                            $('#ratingModal').modal('hide');
                                                        },
                                                        error: function (xhr, textStatus, errorThrown) {
                                                            // Xử lý lỗi (nếu có)
                                                            alert("Gửi báo cáo thất bại");
                                                            console.log(errorThrown);
                                                        }
                                                    });
                                                });
                                            });
                                        </script>
                                        <p class="u-text u-text-default u-text-2 text-black-50" title="Ngày đăng bài"><i class="fa-regular fa-calendar-check"></i> 
                                            @Model.UploadDate</p>
                                        <a class="u-text u-text-default u-text-3 text-black-50" asp-action="AccountSetting" asp-controller="Account" asp-route-UserName="@Model.UserId" title="Xem trang cá nhân">
                                            <i class="fa-solid fa-feather-pointed"></i>
                                            @Model.UserId</a>
                                        <a style="font-size: 14px;" asp-action="Detail" asp-route-ID="@Model.PostDetail[0].LocationId"
                                           title=" @Model.PostDetail[0].Address" asp-controller="Place"><strong><i class="fa-solid fa-location-dot"></i> @Model.PostDetail[0].Title</strong> </a>
                                    </div>
                                </div>
                                <div class="u-container-style u-group u-shape-rectangle  u-group-2">
                                    <div class="u-container-layout u-container-layout-3 parent-content-container">
                                        <p class="u-text u-text-default u-text-4 responsive-content-image">
                                            @Html.Raw(Model.PostDetail[0].Content)
                                        </p>
                                        @*<div class="u-text u-text-default u-text-4">
                                            @Html.Raw(Model.PostDetail[0].Content.Replace("<oembed", "<iframe").Replace("</oembed>", "</iframe>"))
                                        </div>*@
                                    </div>
                                </div>
                                <div class="u-container-style u-group u-shape-rectangle u-group-3">
                                    <div class="u-container-layout row">

                                        @*like #73BBFF*@
                                        @if (@ViewBag.CheckLike == true)
                                        {
                                            <a title="Bỏ thích" a-like-id="@Model.PostId" class="like-post u-border-none u-btn u-btn-round u-button-style u-custom-color-4 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                                <span class="u-icon u-text-white"></span>
                                                <i class="fa-solid fa-heart liked" style="color: yellow"></i>
                                                    &nbsp;Thích @Model.PostDetail[0].LikeCount

                                            </a>
                                        } else
                                        {
                                            <a title="Thích"  a-like-id="@Model.PostId" class="like-post u-border-none u-btn u-btn-round u-button-style u-custom-color-4 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                                <span class="u-icon u-text-white">
                                                </span><i class="fa-solid fa-heart text-white"></i>
                                                    &nbsp;Thích @Model.PostDetail[0].LikeCount

                                            </a>
                                        }


                                        @*comment*@
                                        <a href="" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                            <span class="u-file-icon u-icon u-text-white u-icon-2"></span> <i class="fa-solid fa-comments" style="color: #ffffff;"></i>
                                            &nbsp;Bình luận @if (Model.PostDetail[0].CommentList != null)
                                            {
                                                <span>@Model.PostDetail[0].CommentList.Count() </span>
                                            } else
                                            {
                                                <span>0</span>
                                            }
                                        </a>

                                        @if (@ViewBag.CheckSave == true)
                                        {
                                                <a title="Bỏ lưu bài viết" save-places-id="@Model.PostId" class="save-places-icon saved-color daluu       u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                                    <span class="u-file-icon u-icon u-text-white u-icon-2"></span> <i class="fa-solid fa-bookmark" style="color: yellow"></i>
                                                &nbsp;Lưu @Model.PostDetail[0].SaveCount
                                            </a>  
                                        }
                                        else
                                        {
                                                <a title="Lưu bài viết" save-places-id="@Model.PostId" class="save-places-icon u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                                <span class="u-file-icon u-icon u-text-white u-icon-2"></span> <i class="fa-solid fa-bookmark" style="color: white"></i>
                                                &nbsp;Lưu @Model.PostDetail[0].SaveCount
                                            </a>
                                        }
                                        
                                        <a href="" class="u-border-none u-btn u-btn-round u-button-style u-custom-color-3 u-radius-4 u-text-body-alt-color u-btn-1 col-2">
                                            <span class="u-file-icon u-icon u-text-white u-icon-2"></span> <i class="fa-solid fa-share" style="color: #ffffff;"></i>
                                            &nbsp;Chia sẻ @Model.PostDetail[0].ShareCount 
                                        </a>
                                        @*star chưa làm*@
                                    </div>
                                    
                                </div>
                                @*Thông báo*@
                                
                               

                                <div class="">
                                    <h4>
                                        <span class="rectange-text"></span>
                                        Bình luận
                                    </h4>
                                    
                                    <div class="row">
                                        <div id="msgAlert2" class="hidden-class" role="alert">
                                    </div>
                                    <div class="form-group" style="margin-bottom: 20px;">
                                        <form id="add-comment-form" asp-page-handler="AddComment" class="row" style="justify-content: center;align-items: center;">
                                            <input type="hidden" name="postId" value="@Model.PostId" />
                                            <textarea title="Vui lòng điền nội dung vào đây ạ" type="text" class="col-10" name="content" placeholder="Enter your comment" required rows="2"></textarea>
                                                <button type="submit" style="margin-left: 12px;align-items: center; display: flex;justify-content: center;    background: none;" class="col-1  btn-send-comment">
                                                    <i class="fa-regular fa-paper-plane" style="color: #5ba0fb;"></i>
                                                </button>
                                        </form>
                                    </div>
                                    
                                    <div id="comments-container">
                                        <div id="comments-list">
                                            @await Html.PartialAsync("_CommentList", Model.PostDetail[0].CommentList)
                                        </div>
                                    </div>

                                    

                                    
                                </div>
                                @*comment ở đây*@

                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell menu-posts-hidden" style="margin-left: 12px;">
                            <div class="u-container-layout u-valign-top u-container-layout-9">
                                <div class="u-border-2 u-border-palette-5-base u-container-style u-group u-shape-rectangle u-group-8">
                                    <div class="u-container-layout u-container-layout-10">
                                        <h5 class="u-text u-text-default u-text-11">
                                            <span class="u-file-icon u-icon u-icon-3"><img src="~/images/icon/topreview.png" alt=""></span>&nbsp;Bài viết liên quan
                                        </h5>
                                        @*top bài review*@
                                            @foreach (var item in topList)
                                            {
                                                <div class="" >
                                                    <a href="@Url.Action("Details", new { id = item.PostId })" class="" title="Viết ngày: @item.Date">
                                                        <div class=" u-container-layout-10 text-black" style="padding: 0 8px;">
                                                            <div class="">
                                                                <p class="css-baivietlienquan">@item.Title</p>
                                                            </div>

                                                        </div>
                                                    </a>

                                                </div>
                                            }
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
<script src="~/comment/getcomments"></script>
<script>
    
    // var token = '@Html.Raw(ViewBag.Token)';
    var username = '@Html.Raw(ViewBag.UserName)';
    $(document).ready(function () {
        // BÌNH LUẬN
        // Thêm comment
        $('#add-comment-form').submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: '@Url.Action("AddComment", "Comment")',
                type: 'POST',
                data: form.serialize(),
                success: function () {
                    loadComments(); 
                    var successMsg = "Đã bình luận";
                    $('#msgAlert2').removeClass('hidden-class').addClass('alert alert-success');
                    $('#msgAlert2').text(successMsg).show().delay(2000).fadeOut('slow', function () {
                        $(this).addClass('hidden-class');
                    });

                    form.find('textarea[name="content"]').val('');
                },
                error: function () {
                    alert('Vui lòng đăng nhập');
                }
            });
        });

        // Xóa comment
        $(document).on('click', '.delete-comment', function (event) {
            event.preventDefault();
            var commentId = $(this).data('comment-id');
            var commentElement = $(this).closest('.comment');
            $.ajax({
                url: '@Url.Action("Delete", "Comment")',
                type: 'POST',
                data: { commentId: commentId },
                success: function (result) {
                    if (result.success) {
                        commentElement.remove();
                    } else {
                        alert('Failed to delete comment.');
                    }
                }
            });
        });

        // Sửa comment
        $(document).on('click', '.edit-comment', function (event) {
            event.preventDefault();
            var commentId = $(this).data('comment-id');
            var commentElement = $(this).closest('.comment');
            // TODO: Hiển thị form sửa comment và gửi request Ajax để cập nhật comment
        });
        function loadComments() {
            $.ajax({
                url: '@Url.Action("GetComments", "Comment")',
                type: 'GET',
                data: { postId: '@Model.PostId' },
                success: function (result) {
                    $('#comments-list').html(result);
                }
            });
        }

        

        // LIKE
        $('.like-post').click(function (event) {
            event.preventDefault();
            var Id = $(this).attr('a-like-id');
            var likeIcon = $('a.like-post i');

            if (likeIcon.hasClass('liked')) {
                
                $.ajax({
                    url: '/Posts/Like',
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ Id: Id, username: username }),
                    success: function (response) {
                        window.location.reload();
                    },
                    error: function () {
                        alert('Có lỗi xảy ra khi xóa thích bài viết');

                    }
                });
            } else {
                $.ajax({
                    url: '/Posts/Like',
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ Id: Id, username: username }),
                    success: function (response) {
                         window.location.reload();
                    },
                    error: function () {
                        alert('Vui lòng đăng nhập');

                        // alert('Có lỗi xảy ra khi lưu bài viết');
                    }
                });
            }
            
        });
        $('.save-places-icon').click(function (event) {
            event.preventDefault();
            var Id = $(this).attr('save-places-id');
            var likeIconn = $('a.save-places-icon i');
            var likeYconn = $('a.saved-color');

            // Thực hiện các thay đổi hoặc xử lý dựa trên itemId và likeIcon
            // Ví dụ: Thay đổi màu sắc của biểu tượng
            if (likeIconn.hasClass('saved-color') || likeYconn.length > 0) {
                $.ajax({
                    url: '/Save/AddPostToArchive',
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ Id: Id, username: username }),
                    success: function (response) {                        
                        window.location.reload();  
                    },
                    error: function () {
                        alert('Có lỗi xảy ra khi xóa lưu bài viết');

                    }
                });


            } else {
                $.ajax({
                    url: '/Save/AddPostToArchive',
                    type: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: JSON.stringify({ Id: Id, username: username }),
                    success: function (response) {                      
                        window.location.reload();  
                    },
                    error: function () {
                        alert('Vui lòng đăng nhập');

                        // alert('Có lỗi xảy ra khi lưu bài viết');
                    }
                });

            }
        });
    });
</script>
<script>
    setTimeout(function () {
        $('#msgAlert2').fadeOut('slow');
    }, 2000);
</script>
